*,::before,::after{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    background: rgb(222, 221, 221);
    display: flex;
    height: 100vh;
    justify-content: center;
    object-fit: contain;
}
.container {
    background-image: linear-gradient(45deg, rgb(56, 111, 239),rgba(217, 85, 246, 0.99),rgb(246, 43, 100),rgb(236, 242, 41),rgb(2, 255, 247),rgb(35, 236, 21));
    background-size: 600% 600%;
    width: 500px;
    height: 100vh;
    padding: 1rem 1rem;
    box-shadow: 0 0 5px black;
    position: relative;
    overflow: hidden;
    transition: all 0.5s linear;
    animation: change 15s ease-in-out infinite;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.top-bar{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 8vh;
}
.top-bar i{
    transition: all 0.3s linear;
}
.top-bar i:hover{
    transform: scale(1.4);
    color: white;
}
.top-bar span{
    font-size: 25px;
}
.music-info{
    width: 100%;
    margin: auto;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'Dosis', sans-serif;
    font-family: 'Lobster', cursive;
}
img{
    position: relative;
    width: 100%;
    height: 50vh;
    border-radius: 10%;
    box-shadow: 0 0 10px 1px black;
}
h2{
    margin-top: 0.5rem;
}
.progress-area{
    width: 100%;
    height: 6px;
    background: rgb(251, 251, 251);
    cursor: pointer;
    border-radius: 15px;
}
.progress-area .progress-bar{
    height: inherit;
    width: 0%;
    background: black;
    position: relative;
    border-radius: inherit;
}
.progress-bar::before{
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    background:black;
    top: -2px;
    right: -0.5%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.progress-area:hover .progress-bar::before{
    opacity: 1;
}
.timer{
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    font-weight: bold;
}
.controls{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2.5rem;
}
.controls i{
    transition: all 0.3s linear;
}
.controls i:hover{
    transform: rotate(360deg);
    color: white
}
i{
    color: rgb(0, 0, 0);
    font-size: 30px;
    cursor: pointer;
}
.play-pause{
  position: relative;
  bottom: 0.9rem;
}
.library{
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: -51%;
    background-color: white;
    padding-top: 0.5rem;
    background-color: rgba(0, 0, 0, 0.456);
    backdrop-filter: blur(5px);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: all 0.5s ease-out;
}

.library.show{
    bottom: 0;
}
.header,.item{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    font-size:x-large ;
}
.header i{
    transition: all 0.3s linear;
}
.header i:hover{
    transform: rotate(180deg);
    color: white;
}
.item{
    font-size: large ;
}
p{
    padding: 0 1rem;
}
ul{
    list-style-type: none;
    margin-top: 0.6rem;
    max-height: 220px;
    overflow: auto;
    font-family: 'Permanent Marker', cursive;
}
ul::-webkit-scrollbar{
    width: 0px;
}
ul li{
    cursor: pointer;
    padding: 1rem 1rem;
   border-radius: 5px;
    transition: all 0.4s linear;
}
ul li:hover{
    color: white;
    background-color: black;
    padding: 1rem 2rem;
}
ul .playing{
    background-color: white;
}
@media (min-height :700px){
     .top-bar{
        margin-top: 0.5rem;
    }
    .top-bar span{
        font-size: 2rem;
    }
    .progress-area{
        height: 12px; 
    }
    .controls{
        margin-top: 4rem;
    }
}
@media (min-height :800px){
    h2{
        margin-top: 2rem;
    }
}
@media (min-height :890px){
    .progress-area{
        margin-top: 3rem;
    }
}
@media (min-height :1000px){
    h2{
        font-size: 3rem;
    }
    .progress-area{
        margin-top: 4rem;
    }
    .progress-area span{
        font-size: 1.5rem;
    }
    .controls{
        margin-top: 6rem;
    }
}
@media (max-width :600px) {
    .container{
        width: 100%;
    }
} 
@media (max-width:450px){
    .top-bar i{
        transition: none;
    }
    .top-bar i:hover{
        transform: none;
        color: inherit;
    }
    .progress-bar::before{
        top: -2px;
        right: -0.5%;
    }
    .controls i{
        transition: none;
    }
    .controls i:hover{
        transform: rotate(0deg);
        color: inherit ;
    }
    .header i{
        transition: none;
    }
    .header i:hover{
        transform: rotate(0deg);
        color: inherit;
    }
}
@media (max-width:800px){
    .top-bar i{
        transition: none;
    }
    .top-bar i:hover{
        transform: none;
        color: inherit;
    }
    .progress-bar::before{
        height: 17px;
        width: 17px;
        top: -2px;
        right: -0.5%;
    }
    .controls i{
        transition: none;
    }
    .controls i:hover{
        transform: rotate(0deg);
        color: inherit ;
    }
    .header i{
        transition: none;
    }
    .header i:hover{
        transform: rotate(0deg);
        color: inherit;
    }
}